# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

.idea
token*.json
credentials*.json
config.toml
./enviroment/kubernetes/configmap_production.yaml
./rads-cli/enviroment/kubernetes/rads_critical_job_production.yaml
./rads-cli/enviroment/kubernetes/rads_cron_job_production.yaml